.log/*

.DS_Store
*/.DS_Store

Dash/license.dash-license

NeoVim/tmp/*

Emacs/.DS_Storec
Emacs/emacs-configs/.DS_Store

Emacs/emacs-configs/demacs/.DS_Store
Emacs/emacs-configs/demacs/.dap-breakpoints
Emacs/emacs-configs/demacs/.lsp-session-v1
Emacs/emacs-configs/demacs/.mc-lists.el
Emacs/emacs-configs/demacs/history
Emacs/emacs-configs/demacs/projectile-bookmarks.eld
Emacs/emacs-configs/demacs/recentf
Emacs/emacs-configs/demacs/tramp
Emacs/emacs-configs/demacs/transient/*
Emacs/emacs-configs/demacs/.cache/*
Emacs/emacs-configs/demacs/.extension/*
Emacs/emacs-configs/demacs/eln-cache/*
Emacs/emacs-configs/demacs/straight/*
