[submodule "Ubersicht/ubersicht-todo-widget"]
	path = Ubersicht/ubersicht-todo-widget
	url = git@github.com:dezzw/ubersicht-todo-widget.git
[submodule "alfred"]
	path = alfred
	url = git@github.com:dezzw/Alfred.git
[submodule "demacs"]
	path = demacs
	url = git@github.com:dezzw/demacs.git

