.log/*

.DS_Store
*/.DS_Store

Dash/license.dash-license

NeoVim/tmp/*

Emacs/.DS_Storec
Emacs/emacs-configs/.DS_Store

Emacs/emacs-configs/demacs-stable/.DS_Store
Emacs/emacs-configs/demacs-stable/.cache/*
Emacs/emacs-configs/demacs-stable/.extension/*
Emacs/emacs-configs/demacs-stable/eln-cache/*
Emacs/emacs-configs/demacs-stable/straight/*

Emacs/emacs-configs/demacs-latest/.DS_Store
Emacs/emacs-configs/demacs-latest/.cache/*
Emacs/emacs-configs/demacs-latest/.extension/*
Emacs/emacs-configs/demacs-latest/eln-cache/*
Emacs/emacs-configs/demacs-latest/straight/*
