<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.suliveevil.app.emacs</string>
	<key>connections</key>
	<dict>
		<key>0919040C-A2B7-4C97-B218-852E0D9E4B27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65153072-B100-45D8-BE40-C0A651C085E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F0E1850-07E7-452B-A006-4FA9EB8D8887</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F1DAB5E-9071-458A-B6C0-2790544DC538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F1DAB5E-9071-458A-B6C0-2790544DC538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65153072-B100-45D8-BE40-C0A651C085E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>715988F9-F985-4BC4-B0E5-F84ED7D283CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4A13361-D9DD-47FB-8E0A-75C091E595B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Activate Emacs</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>92C6CDFD-01BA-450B-B148-0B5AE7E7F193</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search on GitHub</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F50F58A5-0C98-4110-931B-913403096625</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Search EmacsWiki using BaiDu Advanced Search</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE2E5CAD-D4AF-4B96-B258-DB8722FAC251</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search on EmacsChina</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B17A24F8-7730-48BE-A33E-C82D41D8DA90</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Debug current Emacs config (--debug-init)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>793869AE-D6B2-4134-A9FA-3979B8CA0603</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>274B4F81-F0A7-4DCE-AA05-5095B4293875</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8466A215-15A9-4B2B-804E-9C3FB4C526D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65153072-B100-45D8-BE40-C0A651C085E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9D05407-E82F-487A-9CF7-B69C51EAA209</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0919040C-A2B7-4C97-B218-852E0D9E4B27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4D76B38-8F5B-4D7B-AFD0-AF101018A19E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8466A215-15A9-4B2B-804E-9C3FB4C526D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>suliveevil</string>
	<key>description</key>
	<string>All about Emacs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emacs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application id "org.gnu.Emacs" to activate
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A4A13361-D9DD-47FB-8E0A-75C091E595B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>space</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Spacemacs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F0E1850-07E7-452B-A006-4FA9EB8D8887</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?l=Emacs+Lisp&amp;o=desc&amp;q={query}&amp;s=stars&amp;type=Repositories</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>92C6CDFD-01BA-450B-B148-0B5AE7E7F193</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:spacemacs}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F1DAB5E-9071-458A-B6C0-2790544DC538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>emacs --init-directory="{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65153072-B100-45D8-BE40-C0A651C085E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>em</string>
				<key>subtext</key>
				<string>Open/Activate Emacs</string>
				<key>text</key>
				<string>Everything about Emacs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>715988F9-F985-4BC4-B0E5-F84ED7D283CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.baidu.com/s?q1={query}&amp;q2=&amp;q3=&amp;q4=&amp;rn=50&amp;lm=0&amp;ct=0&amp;ft=&amp;q5=&amp;q6=www.emacswiki.org&amp;tn=baiduadv</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F50F58A5-0C98-4110-931B-913403096625</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>debug</string>
				<key>subtext</key>
				<string>bisect debug Emacs configurations</string>
				<key>text</key>
				<string>Debug Emacs config</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4D76B38-8F5B-4D7B-AFD0-AF101018A19E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:debug}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8466A215-15A9-4B2B-804E-9C3FB4C526D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?hl=zh-CN&amp;as_q={query}&amp;as_epq=&amp;as_oq=&amp;as_eq=&amp;as_nlo=&amp;as_nhi=&amp;lr=&amp;cr=&amp;as_qdr=all&amp;as_sitesearch=emacs-china.org&amp;as_occt=any&amp;safe=images&amp;as_filetype=&amp;tbs=</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE2E5CAD-D4AF-4B96-B258-DB8722FAC251</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>doom</string>
				<key>subtext</key>
				<string>An Emacs framework for the stubborn martian hacker</string>
				<key>text</key>
				<string>Doom Emacs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A9D05407-E82F-487A-9CF7-B69C51EAA209</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:doom}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0919040C-A2B7-4C97-B218-852E0D9E4B27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>emacs --debug-init</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B17A24F8-7730-48BE-A33E-C82D41D8DA90</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>emacs "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>274B4F81-F0A7-4DCE-AA05-5095B4293875</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open in Emacs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>793869AE-D6B2-4134-A9FA-3979B8CA0603</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Emacs.alfredworkflow


- Open Emacs.app
- Open File in Emacs

- Load Debug config
- Load Doom Emacs config
- Load Spacemacs config

- Search keywords on GitHub (Emacs lisp)
- Search keywords on EmacsWiki (BaiDu)
- Search keywords on EmacsChina (Google)</string>
	<key>uidata</key>
	<dict>
		<key>0919040C-A2B7-4C97-B218-852E0D9E4B27</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>1F0E1850-07E7-452B-A006-4FA9EB8D8887</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>274B4F81-F0A7-4DCE-AA05-5095B4293875</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>5F1DAB5E-9071-458A-B6C0-2790544DC538</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>65153072-B100-45D8-BE40-C0A651C085E8</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>715988F9-F985-4BC4-B0E5-F84ED7D283CD</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>793869AE-D6B2-4134-A9FA-3979B8CA0603</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>8466A215-15A9-4B2B-804E-9C3FB4C526D4</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>92C6CDFD-01BA-450B-B148-0B5AE7E7F193</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Search on GitHub</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>A4A13361-D9DD-47FB-8E0A-75C091E595B9</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Open Emacs or bring Emacs to front-most</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>A9D05407-E82F-487A-9CF7-B69C51EAA209</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>B17A24F8-7730-48BE-A33E-C82D41D8DA90</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>emacs --debug-init</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>C4D76B38-8F5B-4D7B-AFD0-AF101018A19E</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>EE2E5CAD-D4AF-4B96-B258-DB8722FAC251</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Search on EmacsChina</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>F50F58A5-0C98-4110-931B-913403096625</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Search on EmacsWiki using BaiDu</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.config/debug</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Debug Folder Path</string>
			<key>label</key>
			<string>Debug</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>debug</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.config/doom</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Doom Emacs Folder Path</string>
			<key>label</key>
			<string>Doom</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>doom</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.config/spacemacs</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Spacemacs Folder Path</string>
			<key>label</key>
			<string>Spacemacs</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>spacemacs</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/suliveevil/AlfredWorkflows</string>
</dict>
</plist>
