<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.keywords</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16A96AD2-9974-47DC-A2F3-650ECD152AA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2BF3F00-4889-4333-82A6-807A70A33129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1610128E-1A65-481E-A6BB-69BA1B22D667</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61514DC2-A4C4-4CE2-8620-20AF3832FCAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03650A4E-ADBA-483E-98BC-FE995A1F161C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E12F27D-1B66-42BB-BADC-F90847D9AF47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9273F864-226C-448C-BA45-C404BF368E28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77E4F014-49B9-4791-8C1B-2B8B510E119A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9273F864-226C-448C-BA45-C404BF368E28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0F9FCDE-0FAD-4CAA-A551-CBB9E30F3EEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E686AB1E-CD4D-47CB-A519-8A7B943D2844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5C68B3D-9017-4AAC-A20A-48FC8FC73CE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FF006C0-93FA-4238-9689-A3EAB042A129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F846F785-2FD2-4688-B4FA-77AC867B86C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFD369C7-D2A2-4712-B97F-04606B5AD2DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFB6FFC8-FABF-4A8D-8E3F-F9567A212E97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2BF3F00-4889-4333-82A6-807A70A33129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Desmond Wang</string>
	<key>description</key>
	<string>Learn how to connect a keyword to different actions and outputs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emacs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACS="/etc/profiles/per-user/dez/bin/emacs"

$EMACS</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03650A4E-ADBA-483E-98BC-FE995A1F161C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>agenda</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Emacs Agenda</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5C68B3D-9017-4AAC-A20A-48FC8FC73CE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACSCLIENT="/etc/profiles/per-user/dez/bin/emacsclient"

$EMACSCLIENT -cn -s main -e "(org-agenda)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FF006C0-93FA-4238-9689-A3EAB042A129</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>emacs</string>
				<key>subtext</key>
				<string>Full Emacs</string>
				<key>text</key>
				<string>Start Emacs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>61514DC2-A4C4-4CE2-8620-20AF3832FCAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACS="/etc/profiles/per-user/dez/bin/emacs"

if [[ -z $1 ]]; then
	$EMACS --daemon=main
	$EMACS --daemon=coding
	$EMACS --daemon=tty
else
    case $1 in
        m)
            $EMACS --daemon=main
            ;;
        c)
            $EMACS --daemon=coding
            ;;
        *)
            $EMACS --daemon="$1"
            ;;
    esac
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1610128E-1A65-481E-A6BB-69BA1B22D667</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>es start</string>
				<key>subtext</key>
				<string>Use `es start {name}` to start the specified server</string>
				<key>text</key>
				<string>Start Emacs Servers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>es stop</string>
				<key>subtext</key>
				<string>Use `es stop {name}` to stop the specified server</string>
				<key>text</key>
				<string>Stop Emacs Servers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F846F785-2FD2-4688-B4FA-77AC867B86C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACS="/etc/profiles/per-user/dez/bin/emacs"
EMACSCLIENT="/etc/profiles/per-user/dez/bin/emacsclient"

if [[ -z $1 ]]; then
    ps aux | grep -i 'emacs.* --bg-daemon' | grep -v 'grep' \
        | awk '{print $1 "\t" $9 "\tEmacs " $12}' &gt; $tmpfile
    while read line; do
        servername=$(echo "$line" | sed 's/\0123,4\012//' | sed 's/.*=//')
        $EMACSCLIENT -n --socket-name=$servername   -e '(kill-emacs)'
    done &lt; $tmpfile
    rm -f $tmpfile
else
    case $1 in
        m)
            $EMACSCLIENT -n --socket-name=main   -e '(kill-emacs)'
            ;;
        c)
            $EMACSCLIENT -n --socket-name=coding -e '(kill-emacs)'
            ;;
        t)
            $EMACSCLIENT -n --socket-name=tty -e '(kill-emacs)'
            ;;
        *)
            $EMACSCLIENT -n --socket-name="$1" -e '(kill-emacs)'
            ;;
    esac
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CFD369C7-D2A2-4712-B97F-04606B5AD2DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ec</string>
				<key>subtext</key>
				<string>Emacs GUI Client for coding socket</string>
				<key>text</key>
				<string>Start Coding Emacs Client</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B0F9FCDE-0FAD-4CAA-A551-CBB9E30F3EEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACSCLIENT="/etc/profiles/per-user/dez/bin/emacsclient"

if [[ $# -eq 0 ]]; then
    $EMACSCLIENT -nc --socket-name=coding
elif [[ -n $1 ]]; then
    $EMACSCLIENT -nc --socket-name=coding $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E686AB1E-CD4D-47CB-A519-8A7B943D2844</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>em</string>
				<key>subtext</key>
				<string>Emacs GUI Client for main socket</string>
				<key>text</key>
				<string>Start Main Emacs Client</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E12F27D-1B66-42BB-BADC-F90847D9AF47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACSCLIENT="/etc/profiles/per-user/dez/bin/emacsclient"

$EMACSCLIENT --socket-name=main -nc -e '(let ((default-directory "~/"))(dirvish))'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9273F864-226C-448C-BA45-C404BF368E28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>eshell</string>
				<key>subtext</key>
				<string>EShell Session in Emacs GUI Client</string>
				<key>text</key>
				<string>Start EShell with Emacs Client</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FFB6FFC8-FABF-4A8D-8E3F-F9567A212E97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>EMACSCLIENT="/etc/profiles/per-user/dez/bin/emacsclient"

$EMACSCLIENT --socket-name=main -nc -e '(let ((default-directory "~/"))(eshell))'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2BF3F00-4889-4333-82A6-807A70A33129</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>77E4F014-49B9-4791-8C1B-2B8B510E119A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>16A96AD2-9974-47DC-A2F3-650ECD152AA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workfollow is used to control the eamcs servers (daemon) and their clients.</string>
	<key>uidata</key>
	<dict>
		<key>03650A4E-ADBA-483E-98BC-FE995A1F161C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>1610128E-1A65-481E-A6BB-69BA1B22D667</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>16A96AD2-9974-47DC-A2F3-650ECD152AA0</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>61514DC2-A4C4-4CE2-8620-20AF3832FCAC</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>6E12F27D-1B66-42BB-BADC-F90847D9AF47</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>6FF006C0-93FA-4238-9689-A3EAB042A129</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>77E4F014-49B9-4791-8C1B-2B8B510E119A</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>9273F864-226C-448C-BA45-C404BF368E28</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>B0F9FCDE-0FAD-4CAA-A551-CBB9E30F3EEF</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>B2BF3F00-4889-4333-82A6-807A70A33129</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>CFD369C7-D2A2-4712-B97F-04606B5AD2DA</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>E686AB1E-CD4D-47CB-A519-8A7B943D2844</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>F5C68B3D-9017-4AAC-A20A-48FC8FC73CE7</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F846F785-2FD2-4688-B4FA-77AC867B86C8</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>FFB6FFC8-FABF-4A8D-8E3F-F9567A212E97</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.unclealone.github.io</string>
</dict>
</plist>
